{% extends 'base.html.twig' %}

{% block title %}Liste des Disponnibilités{% endblock %}

{% block body %}
    <h1>Liste des Disponnibilités</h1>
    <table class="table">
        <tr>
            <td><b>Id</b></td>
            <td><b>Début</b></td>
            <td><b>Fin</b></td>
            <td><b>Description</b></td>
            <td><b>Toute la journée</b></td>
            <td><b>Intervenant</b></td>
            <td></td>
            <td></td>
        </tr>
        {% for dispo in dispos %}
            <tr>
                <td> {{ dispo.id }} </td>
                <td> {{ dispo.start ? dispo.start|date('Y-m-d H:i:s') : ''}} </td>
                <td> {{ dispo.end ? dispo.end|date('Y-m-d H:i:s') : ''}} </td>
                <td> {{ dispo.description }} </td>
                <td> {{ dispo.allDay ? 'Yes' : 'No' }} </td>
                <td> {{ dispo.idInter.IdUsers.nom}}</td>

                <td> <a href="{{ path('disponnibilite_edit', {'id':dispo.id} ) }}">Modifier</a></td>
                <td> <a href='{{ path('disponnibilite_delete', {'id':dispo.id} ) }}'>Supprimer</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('disponnibilite_new')}}">Ajouter</a>
{% endblock %}