{% extends 'base.html.twig' %}

{% block title %}Liste des matieres{% endblock %}

{% block body %}
    <h1>Liste des matieres</h1>
    <table class="table">
        <tr>
            <td><b>Nom</b></td>
            <td><b>Nombre d'heure</b></td>
            <td><b>Couleur du texte</b></td>
            <td><b>Couleur du fond</b></td>
            <td><b>Couleur du contour</b></td>
            <td></td>
            <td></td>
        </tr>
        {% for matiere in matieres %}
            <tr>
                <td> {{ matiere.nom }} </td>
                <td> {{ matiere.nbHeure }} </td>
                <td> {{ matiere.textColor }} </td>
                <td> {{ matiere.backgroundColor }} </td>
                <td> {{ matiere.borderColor }} </td>
                <td> <a href="{{ path('matiere_modifier', {'id':matiere.id} ) }}">Modifier</a></td>
                <td> <a href='{{ path('matiere_supprimer', {'id':matiere.id} ) }}'>Supprimer</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('matiere_ajouter')}}">Ajouter</a>
{% endblock %}
