{% extends 'base.html.twig' %}

{% block title %}Liste des intervenants{% endblock %}

{% block body %}
    <h1>Liste des intervenants</h1>
    <table class="table">
        <tr>
            <td><b>Nom</b></td>
            <td><b>Prénom</b></td>
            <td></td>
            <td></td>
        </tr>
        {% for intervenant in intervenants %}
            <tr>
                <td> {{ intervenant.nomIntervenant }} </td>
                <td> {{ intervenant.prenomIntervenant }} </td>
                <td> <a href="{{ path('intervenant_modifier', {'id':intervenant.id} ) }}">Modifier</a></td>
                <td> <a href='{{ path('intervenant_supprimer', {'id':intervenant.id} ) }}'>Supprimer</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('intervenant_ajouter')}}">Ajouter</a>
{% endblock %}


